/*
	Sumário

1 - Header
2 - SlideShow
3 - Sobre
4 - Valores
5 - Lobos Exemplo
6 - Footer
*/

:root {
	--gray: #E6E6E6;
	--black: #333333;
	--yellow: #DEB959;
	--dark-blue: #2C5680;
	--blue: #85CDF5;
	--white: #FFFFFF;
  }


body {
	font-family: 'Darker Grotesque', sans-serif;
	font-style: normal;
	font-weight: bold;
}
.container {
	margin: 0 auto;
	width: 960px;
	height: inherit;
}

.content {
	position: relative;
	height: inherit;
}

a {
	text-decoration: none;
	color: black;
}


/* 1 - HEADER */

/* ---HEADER--- */

.header {
	position: sticky;
	background-color: var(--blue);
	height: 130px;
	line-height: 30px;
	font-size: 30px;
	width: 100%
}

.header-logo {
	position: relative;
	top: -130px;
}

.header-logo a{
	position: relative;
	left: 50%;
}

.header-logo img {
	margin: 10px auto;
	width: 95.55px;
	height: 110.72px;
	position: absolute;
	transform: translateX(-50%);
}

/* ---NAVBAR--- */

/*.navbar {
}*/
.navbar {
	position: relative;
	height: inherit;
}

.nav-itens {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.navbar-item-left {
	position: absolute;
	left: 0px;
	transform: translateY(-50%);
}

.navbar-item-right {
	position: absolute;
	right: 0px;
	transform: translateY(-50%);
}

/* 2 - Slider Show */



.mySlides {
	max-width: 1400px;
	max-height: 480px;
}

.slide-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 670px;
	background-color: #16161654;
	color: var(--white);
}

.slide-text h1 {
	font-size: 6em;
	text-align: center;
	line-height: 100px;
}

.slide-text p {
	font-size: 1.875em;
	line-height: 25px;
	text-align: center;
}

.div-btn-lft {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.div-btn-lft button {
	background-color: transparent;
	border: none;
}

.div-btn-rgh {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.div-btn-rgh button {
	background-color: transparent;
	border: none;
}

.div-slidershow-indicator{
	position: absolute;
	bottom: 12.5%;
	left: 50%;
	transform: translateX(-50%);
}

.slidershow-indicator{
	cursor: pointer;
	display: inline-block;
	border: none;
	background-color: transparent;
	padding: 0;
}


/* FOOTER */
.footer::before {
    content: '';
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, var(--yellow), var(--dark-blue));
    display: block;
}

.footer{
	background-color: var(--black);
	height: 270px;
}

.block-content {
	display: inline-block;
}

.block-content p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.1em;
	color: var(--white);
	font-weight: normal;
}

.map {
	margin-right: 260px;
}

.footer-map {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.info-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	min-width: 380px;
}

.icon {
	margin-bottom: 20px;
}
.icon img{
	margin-right: 5px;
}

.icon p{
	vertical-align: middle;
}

.icon-mail-div{
	margin-bottom: 30px;
}

.footer-btn {
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 3px 10px 5px 10px;
    cursor: pointer;
    background: var(--yellow);
    transition: .3s;
}

.footer-btn:hover {
    background: var(--dark-blue);
    color: var(--white);
}



.paws {
	position: absolute;
	right: 0px;
	height: inherit;
}

.paws p {
	padding-top: 50px;
}

 .paws-img {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 display: block;
 }

 /* 07 - Quem somos */


.quem-somos-text h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.667em;
    padding: 50px 0;
    text-align: center;
}

.quem-somos-text p{
    font-family: 'Darker Grotesque', sans-serif;
	font-size: 1.5em;
	font-style: normal;
    text-align: center;
	letter-spacing: 0.155em;
	padding:0 20px 0;
	margin-bottom: 55px;
}

/* 08 - Fale conosco */

.talk{
	height: 800px;
}

.talk h2 {
	text-align: center;
	font-family: 'Darker Grotesque', sans-serif;
    font-size: 3.75em;
	text-align: center;
	margin: 50px 0 25px;
}


.form-div{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.form p{
	font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
}

.form-input {
    width: 760px;
    height: 40px;
    background: var(--gray);
    margin-bottom: 25px;
    border: 1px solid var(--black);
    padding-left: 10px;
}

.form-msg {
    background: var(--gray);
    margin-bottom: 50px;
    border: 1px solid var(--black);
}

.form button{
	background: var(--dark-blue);
    color: var(--white);
    padding: 2px 60px 9px;
	transition: .3s;
	border: none;
	font-style: normal;
	font-size: 30px;
	line-height: 49px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
}